@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme inline {
  /* Font Styles */

  --font-title-sans: var(--font-title-gothic), sans-serif, system-ui;
  --font-title-cursive: var(--font-title-cursive), monospace, system-ui;
  --font-title-fancy: var(--font-title-fancy), serif, system-ui;

  --font-sans: var(--font-body-sans), sans-serif, system-ui;
  --font-mono: var(--font-body-mono), monospace, system-ui;
  --font-serif: var(--font-body-serif-2), serif, system-ui;
  --font-cursive: var(--font-body-cursive), serif, system-ui;

  /* Font Sizes */

  --text-heading-xl: 52px;
  --text-heading-l: 32px;
  --text-heading-m: 24px;
  --text-heading-s: 24px;
  --text-heading-xs: 20px;
  --text-heading-xxs: 16px;

  --text-sub-m: 22px;
  --text-sub-s: 16px;
  --text-sub-xs: 14px;

  --text-body-l: 20px;
  --text-body-m: 18px;
  --text-body-s: 18px;
  --text-body-xs: 16px;

  --text-footnote: 14px;

  /* Colors */

  --color-background: #fffdf6;
  --color-background-light: #fefff7;

  --color-primary: #454b1b;
  --color-primary-light: #819651;

  --color-secondary: #a3b18a;
  --color-secondary-light: #d9e4dd;

  --color-accent: #d4a373;
  --color-accent-light: #ebd8c3;

  --color-neutral-dark: #2e2e2e;
  --color-neutral: #f5f5f5;
  --color-neutral-light: #ffffff;

  --color-text-primary: #1f1f1f;
  --color-text-secondary: #2b2f11;

  --color-text-primary-light: #ededed;
  --color-text-secondary-light: #c8c6c6;

  /* Sizes */
  --container-max: 1500px;
  --container-padded-max: 1200px;
  --container-readable-padded-max: 750px;

  /* Viewport */
  --breakpoint-xs: 28rem;
  --breakpoint-padding: 1250px;
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Slightly visible for usability */
    border-radius: 4px;
  }

  .gap-title {
    @apply gap-[1.5rem];
  }

  .gap-paragraph {
    @apply gap-[0.75rem];
  }

  .hero-heading {
    @apply text-5xl xs:text-7xl md:text-[7rem];
  }
  .hero-subheading {
    @apply text-body-s xs:text-2xl sm:text-3xl md:text-3xl;
  }
  .hero-style {
    @apply text-white;
  }

  h1 {
    @apply text-heading-l sm:text-heading-xl;
  }
  h2 {
    @apply text-heading-s sm:text-heading-m md:text-heading-l;
  }
  h3 {
    @apply text-heading-xs sm:text-heading-s md:text-heading-m;
  }
  h4 {
    @apply text-heading-xxs sm:text-heading-xxs md:text-heading-xs;
  }

  h1,
  h2,
  h3 {
    @apply leading-[1] font-[550];
  }

  a,
  p {
    @apply font-serif text-body-s font-[300] tracking-tight md:text-body-m lg:text-body-l;
  }

  .nav-text {
    @apply font-serif text-body-xs font-[300] tracking-tight md:text-body-s lg:text-body-m;
  }
}

@layer utilities {
  .debug {
    @apply !border-[2px] !border-red-500;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .flex-row-center {
    @apply flex flex-row items-center justify-center;
  }

  .flex-col-top {
    @apply flex flex-col items-center justify-start;
  }

  .flex-col-bot {
    @apply flex flex-col items-center justify-end;
  }

  .flex-row-top {
    @apply flex flex-row items-start justify-center;
  }
  .flex-row-bot {
    @apply flex flex-row items-end justify-center;
  }

  .button-padding {
    @apply px-[0.5rem] py-[0.25rem];
  }

  .link-underline {
    @apply relative after:absolute after:bottom-[-1px] after:left-0 after:h-[1px] after:w-full after:bg-current after:transition-transform hover:after:scale-x-105;
  }

  .image-grid {
    @apply hover:scale-105 transition-transform 
  }

  .magic-text {
    /* animation: background-pan 4s linear infinite; */
    background:
      linear-gradient(
        to bottom right,
        var(--color-background-light),
        var(--color-secondary),
        var(--color-secondary-light)
      ),
      url("/images/paper-texture.jpg");
    background-size: 200%, 50%;
    background-blend-mode: multiply;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    @apply saturate-500;
  }

  .deboss {
    @apply relative [text-shadow:0px_1px_1px_rgba(255,255,255,0.5),0px_-1px_1px_rgba(10,10,10,0.3)];
  }
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-title-mono);

  /* scrollbar-gutter: stable both-edges; */
  /* overflow-y: scroll; */
}
main {
  @apply mx-auto flex max-w-max flex-col;
}

.container {
  @apply mx-auto flex w-full max-w-padded-max flex-col px-[1.5rem] py-[1.5rem] padding:px-[0rem] padding:py-[4rem] sm:py-[4rem];
}

.readable-container {
  @apply mx-auto flex w-full max-w-readable-padded-max text-pretty;
}

.nav-container {
  @apply mx-auto flex w-full max-w-padded-max flex-row px-[1.5rem] padding:px-[0rem];
}
