@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme inline {
  /* Font Styles */

  --font-title-sans: var(--font-title-gothic), sans-serif, system-ui;
  --font-title-serif: var(--font-title-cursive), monospace, system-ui;

  --font-sans: var(--font-work-sans), sans-serif, system-ui;
  --font-mono: var(--font-geist-mono), monospace, system-ui;

  /* Font Sizes */

  --heading-xl: 48px;
  --heading-l: 36px;
  --heading-m: 24px;
  --heading-s: 18px;

  --subheading-xl: 32px;
  --subheading-l: 28px;
  --subheading-m: 22px;
  --subheading-s: 16px;

  --bodytext-xl: 20px;
  --bodytext-l: 18px;
  --bodytext-m: 16px;
  --bodytext-s: 14px;

  /* Colors */

  --color-background: #fffcf1;

  --color-primary: #454b1b;
  --color-primary-light: #819651;

  --color-secondary: #a3b18a;
  --color-secondary-light: #d9e4dd;

  --color-accent: #d4a373;
  --color-accent-light: #ebd8c3;

  --color-neutral-dark: #2e2e2e;
  --color-neutral: #f5f5f5;
  --color-neutral-light: #ffffff;

  --color-text-primary: #1f1f1f;
  --color-text-secondary: #2b2f11;

  --color-text-primary-light: #ededed;
  --color-text-secondary-light: #c8c6c6;
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px; 
    background: transparent; 
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Slightly visible for usability */
    border-radius: 4px;
  }


  h1 {
    @apply text-[length:var(--heading-l)] sm:text-left sm:text-[length:var(--heading-xl)];
  }
  h2 {
    @apply text-[length:var(--heading-m)] sm:text-left sm:text-[length:var(--heading-l)];
  }
  h3 {
    @apply text-[length:var(--heading-s)] sm:text-left sm:text-[length:var(--heading-m)];
  }

  h1,
  h2,
  h3 {
    @apply font-sans leading-[1] font-[500] tracking-tight;
  }

  a,
  p {
    @apply font-sans tracking-tighter;
  }
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-title-mono);

  /* scrollbar-gutter: stable both-edges; */
  /* overflow-y: scroll; */
}

main {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100svh;
}
