@import "tailwindcss";
@import "tw-animate-css";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme inline {
  /* Font Styles */

  --font-title-sans: var(--font-title-gothic), sans-serif, system-ui;
  --font-title-cursive: var(--font-title-cursive), monospace, system-ui;
  --font-title-fancy: var(--font-title-fancy), serif, system-ui;

  --font-sans: var(--font-body-sans), sans-serif, system-ui;
  --font-mono: var(--font-body-mono), monospace, system-ui;
  --font-serif: var(--font-body-serif-2), serif, system-ui;
  --font-cursive: var(--font-body-cursive), serif, system-ui;

  /* Font Sizes */

  --text-heading-xl: 52px;
  --text-heading-l: 32px;
  --text-heading-m: 24px;
  --text-heading-s: 24px;
  --text-heading-xs: 20px;
  --text-heading-xxs: 16px;

  --text-sub-m: 22px;
  --text-sub-s: 16px;
  --text-sub-xs: 14px;

  --text-body-l: 20px;
  --text-body-m: 18px;
  --text-body-s: 18px;
  --text-body-xs: 16px;

  --text-footnote: 14px;

  /* Colors */

  --color-background: #fffdf6;
  --color-background-light: #fefff7;

  --color-primary: #454b1b;
  --color-primary-light: #819651;

  --color-secondary: #a3b18a;
  --color-secondary-light: #d9e4dd;

  --color-accent: #d4a373;
  --color-accent-light: #ebd8c3;

  --color-neutral-dark: #2e2e2e;
  --color-neutral: #f5f5f5;
  --color-neutral-light: #ffffff;

  --color-text-primary: #1f1f1f;
  --color-text-secondary: #2b2f11;

  --color-text-primary-light: #ededed;
  --color-text-secondary-light: #c8c6c6;

  /* Sizes */
  --container-max: 1500px;
  --container-padded-max: 1200px;
  --container-readable-padded-max: 750px;

  /* Viewport */
  --breakpoint-xs: 28rem;
  --breakpoint-padding: 1250px;

  --animate-arrow-bounce: bounce 1s infinite;

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-20%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Slightly visible for usability */
    border-radius: 4px;
  }

  .gap-title {
    gap: 1.5rem;
  }

  .gap-paragraph {
    gap: 0.75rem;
  }

  .hero-heading {
    font-size: 3.75rem; /* text-6xl */
  }

  @media (min-width: 28rem) {
    .hero-heading {
      font-size: 4.5rem; /* text-7xl */
    }
  }

  @media (min-width: 768px) {
    .hero-heading {
      font-size: 7rem;
    }
  }

  .hero-heading-smaller {
    font-size: 1.875rem; /* text-3xl */
  }

  @media (min-width: 28rem) {
    .hero-heading-smaller {
      font-size: 3rem; /* text-5xl */
    }
  }

  @media (min-width: 768px) {
    .hero-heading-smaller {
      font-size: 5rem;
    }
  }

  .hero-subheading {
    font-size: var(--text-body-s);
  }

  @media (min-width: 28rem) {
    .hero-subheading {
      font-size: 1.5rem; /* text-2xl */
    }
  }

  @media (min-width: 640px) {
    .hero-subheading {
      font-size: 1.875rem; /* text-3xl */
    }
  }

  @media (min-width: 768px) {
    .hero-subheading {
      font-size: 1.875rem; /* text-3xl */
    }
  }

  .hero-style {
    color: white;
  }

  h1 {
    font-size: var(--text-heading-l);
  }

  @media (min-width: 640px) {
    h1 {
      font-size: var(--text-heading-xl);
    }
  }

  h2 {
    font-size: var(--text-heading-s);
  }

  @media (min-width: 640px) {
    h2 {
      font-size: var(--text-heading-m);
    }
  }

  @media (min-width: 768px) {
    h2 {
      font-size: var(--text-heading-l);
    }
  }

  h3 {
    font-size: var(--text-heading-xs);
  }

  @media (min-width: 640px) {
    h3 {
      font-size: var(--text-heading-s);
    }
  }

  @media (min-width: 768px) {
    h3 {
      font-size: var(--text-heading-m);
    }
  }

  h4 {
    font-size: var(--text-heading-xxs);
  }

  @media (min-width: 640px) {
    h4 {
      font-size: var(--text-heading-xxs);
    }
  }

  @media (min-width: 768px) {
    h4 {
      font-size: var(--text-heading-xs);
    }
  }

  h1,
  h2,
  h3 {
    line-height: 1;
    font-weight: 550;
  }

  a,
  p {
    font-family: var(--font-body-serif-2);
    color: #432f0a;
    font-size: var(--text-body-s);
    font-weight: 300;
    letter-spacing: -0.025em; /* tracking-tight */
  }

  @media (min-width: 768px) {
    a,
    p {
      font-size: var(--text-body-m);
    }
  }

  @media (min-width: 1024px) {
    a,
    p {
      font-size: var(--text-body-l);
    }
  }

  .nav-text {
    font-family: var(--font-body-serif-2);
    font-size: var(--text-body-xs);
    font-weight: 300;
    letter-spacing: -0.025em; /* tracking-tight */
  }

  @media (min-width: 768px) {
    .nav-text {
      font-size: var(--text-body-s);
    }
  }

  @media (min-width: 1024px) {
    .nav-text {
      font-size: var(--text-body-m);
    }
  }
}

@layer utilities {
  .debug {
    border: 2px solid #ef4444 !important;
  }

  .flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .flex-col-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .flex-col-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .flex-row-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .flex-row-bot {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  .button-padding {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .link-underline {
    position: relative;
    cursor: pointer;
  }

  .link-underline::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    content: "";
  }

  .link-underline:hover::after {
    transform: scaleX(1.05);
  }

  .faq-link {
    color: var(--color-primary-light);
    text-decoration-line: underline;
    text-underline-offset: 2px;
  }

  .faq-link:hover {
    color: var(--color-secondary);
  }

  .image-grid {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .image-grid:hover {
    transform: scale(1.015);
  }

  .magic-text {
    background:
      linear-gradient(
        to bottom right,
        var(--color-background-light),
        var(--color-secondary),
        var(--color-secondary-light)
      ),
      url("/images/paper-texture.jpg");
    background-size: 200%, 50%;
    background-blend-mode: multiply;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: saturate(5);
  }

  .bold-text {
    font-weight: 500;
    color: var(--color-primary);
  }

  .deboss {
    position: relative;
    text-shadow:
      0px 1px 1px rgba(255, 255, 255, 0.5),
      0px -1px 1px rgba(10, 10, 10, 0.3);
  }

  .show-md-up {
    display: none;
    @media (min-width: 768px) {
      display: flex;
    }
  }

  .show-md-down {
    display: flex;
    @media (min-width: 768px) {
      display: none;
    }
  }

  .custom-link-style {
    background: linear-gradient(
      to bottom,
      rgb(249, 255, 249),
      #6b7b56 500%
    ); /* Gradient from white to light olive green */
    border-radius: 5px; /* Slightly curved border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Subtle box shadow */
    padding: 0.5rem 0.8rem; /* Ensure padding is consistent */
  }

  .link-padding {
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  }
}
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-title-mono);
}

main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: var(--container-max);
  flex-direction: column;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: var(--container-padded-max);
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 1250px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media (min-width: 640px) {
  .container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.readable-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: var(--container-readable-padded-max);
  text-wrap: pretty;
}

.nav-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: var(--container-padded-max);
  flex-direction: row;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1250px) {
  .nav-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.wrapper {
  height: 200px;
  width: 300px;
  background-color: #8ba155;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.lid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-right: 150px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: transform 0.25s linear;
}

/* Lid when closed */
.lid.one {
  border-top: 100px solid #8ba155;
  transform: rotateX(0deg);
  z-index: 3;
  transition-delay: 0.75s;
}

/* Lid when opened */
.lid.two {
  border-top: 100px solid #96af5d;
  transform: rotateX(90deg);
  z-index: 1;
  transition-delay: 0.5s;
}

.envelope {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 100px solid transparent;
  border-right: 150px solid #92aa59;
  border-bottom: 100px solid #96af5d;
  border-left: 150px solid #9eb862;
  z-index: 3;
}

.letter {
  position: absolute;
  top: 0;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 15px;
  z-index: 2;
  transition: 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-style {
  border-bottom: 1px solid #454b1b2f !important;
}

.accordion-style:last-child {
  border-bottom: 0 !important;
}

.letter p {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  color: #3b4049;
}

.wrapper:hover .lid.one {
  transform: rotateX(90deg);
  transition-delay: 0s;
}

.wrapper:hover .lid.two {
  transform: rotateX(180deg);
  transition-delay: 0.25s;
}

.responsive-iframe {
  width: 100%;
  height: 100%;
  min-height: 76dvh;
}

.wrapper:hover .letter {
  transform: translateY(-50px);
  transition-delay: 0.5s;
}

.side-leaf-container {
  display: none; /* Hidden by default for sm and below */
  position: absolute;
  top: 128dvh;
  z-index: -10;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: hidden;
}

.side-leaf-image {
  width: 13%;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.08));
}

@media (min-width: 500px) {
  .side-leaf-container {
    display: flex; /* Show at sm and above */
    top: 132dvh;
  }
}

@media (min-width: 540px) {
  .side-leaf-container {
    top: 130dvh;
  }
}

@media (min-width: 768px) {
  .side-leaf-image {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04));
    width: 15%;
  }

  .side-leaf-container {
    top: 126dvh;
  }
}

@media (min-width: 990px) {
  .side-leaf-container {
    top: 110dvh;
  }
}

.fade-border-container {
  position: relative;
  padding: 4rem 0 2.5rem 0;
}

.fade-border-container::before,
.fade-border-container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1.5px;
  background: linear-gradient(
    to right,
    transparent 10%,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 0.3) 70%,
    transparent 90%
  );
}

.fade-border-container::before {
  top: 0;
}

.fade-border-container::after {
  bottom: 0;
}

@media (min-width: 768px) {
  .fade-border-container::before,
  .fade-border-container::after {
    background: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      transparent
    );
  }
}

.fade-from-top {
  mask-image: linear-gradient(to bottom, transparent, black 25%);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 25%);
}

.banner-container {
  margin-top: 0rem;
  height: 30dvh;
}

.banner-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 20% 53%;
}

@media (min-width: 640px) {
  .banner-container {
    margin-top: -5rem;
    height: 50dvh;
  }
}

@media (min-width: 768px) {
  .banner-container {
    height: 70dvh;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}

@media (min-width: 768px) {
  .info-container {
    flex-direction: row;
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .info-container {
    gap: 4rem;
  }
}

@media (min-width: 768px) {
  .info-card {
    padding: 2.5rem 2.5rem;
  }
  .info-card-church {
    rotate: -2deg;
  }
  .info-card-reception {
    rotate: 4deg;
  }
  .dress-code-container {
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .card-padding {
    padding: 2.5rem /* 40px */ 3rem /* 48px */;
  }
  .card-rotate-1 {
    transform: rotate(-2deg);
  }
  .card-rotate-2 {
    transform: rotate(4deg);
  }
  .dress-code-width {
    max-width: 50%;
  }
}
